* {
	border: 0;
	padding: 0;
	box-sizing: border-box;
}

button.tablinks {
	cursor: pointer;
}

div#gridRow {
	display: grid;
	grid-template-rows: 20% 80%;
}

div#headGrid {
	display: grid;
  	grid-template-columns: 20% 80%;
}

div#headGridtop {
	display: grid;
	grid-template-columns: 90% 10%;
}

h1#myname {
	text-align: left;
	padding-left: 20px;
}

div#headGridbott {
	display: grid;
	grid-template-columns: 25% 25% 25% 25%;
}

p.projDesc {
	padding: 15px;
}

h3.skillsTitle {
	text-decoration: underline;
}

a[href="mailto:escuadro.kiernichol@gmail.com"] {
	text-decoration: none;
	color: #12680b;
}

p.contactsss {
	font-weight: bold;
}

p#owner {
	position: absolute;
	left: 40%;
	bottom: 10px;
}

/*
 *
 * head section
 *
 */

section#head {
	height: 30vh;
}

a#downloadCVicon {
	text-decoration: none;
	color: white;
}

button.tabButtons {
	background-color: inherit;
	border: none;
}

img#hlImg {
	width: 100%;
	height: 30vh;
}

div.name {
	background-color: #45484c;
	height: 10vh;
	/*padding-left: 20px;*/
	padding-top: 10px;
	color: #f4f5f7;
}

div#downloadCV {
	padding-top: 7px;
}

div#profession {
	background-color: #5b6066;
	height: 10vh;
	padding-left: 25px;
	padding-top: 15px;
	color: #f4f5f7;
}

a.homeLinkout {
	text-decoration: none;
	color: #f4f5f7;
}

div#home, div#cv, div#portfolio, div#contacts, div#skills, div#aboutme, div#keepers {
	height: 10vh;
	font-size: 25px;
	padding-top: 10px;
}

div#home {
	background-color: #b7aeae;
}

div#cv {
	background-color: #b7aeae;
}

div#portfolio {
	background-color: #b7aeae;
}

div#skills {
	background-color: #b7aeae;
}

div#aboutme {
	background-color: #b7aeae;
}

div#keepers {
	background-color: #b7aeae;
}

div#contacts {
	background-color: #b7aeae;
}

div#footerRight {
	background-color: #1b86c4;
	color: white;
}

div#portfolioSec {
	display: grid;
	grid-template-columns: 33.33% 33.33% 33.33%;
}

div#portfolio-sect-1 {
	height: 100vh;
}

img#csp1Img, img#csp2Img, img#csp3Img {
	width: 90%;
	height: 400px;
	border-radius: 50px;
}

a#csp1Linkout, a#csp2Linkout, a#csp3Linkout {
	text-decoration: none;
	color: black;
	font-size: 25px;
}

img.cspImg {
	width: 90%;
	height: 80%;
	border-radius: 10%;
}

div.projectsHeight {
	width: 80%;
	height: 100vh;
}

/**/

section#body {
	height: 40vh;
}

h3.homeContent, li.homeContent {
	padding-left: 15px;
}

div#bodySection {
	height: 40vh;
}

div#bodyRight {
	background-color: #f2efed;
}

div#bodyPersonalHead {
	display: grid;
	grid-template-rows: 20% 80%;
}

div#bodyPersonalDetails {
	display: grid;
	grid-template-columns: 40% 60%;
}

div#bodyPerHead {
	padding-top: 20px;
	padding-left: 70px;	
}

div#bodyPerInfo {
	padding-left: 70px;
	font-weight: bold;
}

/*
 *
 * footer section
 *
 */

section#footer {
	height: 30vh;
}

div#footerSection {
	display: grid;
	grid-template-columns: 20% 80%;
}

div#footerLeft, div#footerRight {
	color: white;
	padding: 5px;
	height: 30vh;
}

div#footerLeft {
	background-color: #2aaf59;
}

div#footerRight {
	background-color: #1b86c4;
}
/*}
/*
.pie-wrapper--solid {
  border-radius: 50%;
  overflow: hidden;

  &:before {
    border-radius: 0 100% 100% 0 / 50%;
    content: '';
    display: block;
    height: 100%;
    margin-left: 50%;
    transform-origin: left;
  }
  
  .label {
    background: transparent;
  }
  
  &.progress-65 {
    .draw-progress--solid(65, #e67e22, @bg);
  }*/

div#skillsSec {
	display: grid;
	grid-template-rows: 50% 50%;
}

div#frontendSec {
	display: grid;
	grid-template-columns: 20% 20% 20% 20% 20%;
}

img#jQuery {
	height: 65px;
}

img#sql {
	height: 34px;
}

img#mariadb {
	height: 34px;
}

div#PHP {
	height: 10vh;
}

div#about-sect {
	padding-left: 15px;
	display: grid;
	grid-template-columns: 60% 40%;
}

div#keepintouchpart {
	padding-left: 15px;
	display: grid;
	grid-template-columns: 22% 70% 8%;
}

a.keepLinkoutfb {
	text-decoration: none;
	color: #154696;
}

a.keepLinkoutln {
	text-decoration: none;
	color: #4580e0;
}

a.keepLinkoutinsta {
	text-decoration: none;
	color: #9b1287;
}

@media only screen and (max-width: 400px) {

div#gridRow {
	display: grid;
	grid-template-rows: 70% 10% 10% 10%;
}

img#hlImg {
	width: 100%;
	height: 70vh;
}

div#headGrid {
	display: grid;
  	grid-template-columns: 100%;
}

h1#myname {
	text-align: left;
	font-size: 20px;
}

h3#myProf {
	margin-left: 20px;
	font-size: 15px;
}

h1#myname {
	position: absolute;
	left: 5px;
}

h3#myProf {
	position: absolute;
	left: 5px;
}

a#downloadCVicon {
	position: absolute;
	right: 10px;
	bottom: 150px;
}

/*div#headGridbott {
	height: 20vh;
}*/

i.fas {
	padding: 0;
	font-size: 35px;
}

span.homeBtnDesc {
	display: none;
}

div#footerSection {
	display: grid;
	grid-template-columns: 100%;
}

div#footerRightContent {
	display: grid;
	grid-template-columns: 100%;
	background-color: #1b86c4;
	padding: 10px;
	padding-left: 85px;
}

div#footerLeft {
	padding: 10px;
}

div#footerRight {
	padding: 0;	
}

h5.recentSkills {
	padding-top: 10px;
	padding-left: 10px;
}

/*
 *
 * portfolio
 *
 */

div#portfolioSec {
	display: grid;
	grid-template-columns: 100%;
} 

/*div#skillsSec {
	display: grid;
	grid-template-rows: 50% 50%;
}*/

div#frontendSec {
	display: grid;
	grid-template-columns: 50% 50%;
}

i#bootstrapBadge {
	font-size: 55px;
}

/*
 *
 * about section
 *
 */

div#about-sect {
	padding: 5px;
	display: grid;
	grid-template-columns: 100%;
}

div#keepintouchpart {
	padding: 0;
	display: grid;
	grid-template-columns: 28% 63% 9%;
}

p#owner {
	margin-top: 35px;
	position: relative;
	left: 0;
	bottom: 5px;
}

}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
h1#myname {
	text-align: left;
}

span.homeBtnDesc {
	display: block;
}

div#gridRow {
	display: grid;
	grid-template-rows: 20% 80%;
}

div#headGrid {
	display: grid;
  	grid-template-columns: 30% 70%;
}

div#headGridtop {
	display: grid;
	grid-template-columns: 90% 10%;
}

div#portfolioSec {
	margin-top: 20px;
	padding-right: 15px;
	display: grid;
	grid-template-columns: 100%;
	/*background-color: #343a40;*/
}

div#portfolio-section {
	background-color: white;
}

div#frontendSec {
	display: grid;
	grid-template-columns: 33.33% 33.33% 33.33%;
}

div#about-sect {
	padding: 15px;
	display: grid;
	grid-template-columns: 100%;
}

section#body {
	height: 50vh;
}

h3.homeContent, li.homeContent {
	padding-left: 15px;
}

div#bodySection {
	height: 50vh;
	display: grid;
	grid-template-columns: 60% 40%;
}

section#footer {
	height: 20vh;
}

div#footerSection {
	display: grid;
	grid-template-columns: 30% 70%;
}

div#footerLeft, div#footerRight {
	color: white;
	padding: 5px;
	height: 20vh;
}

p#owner {
	position: absolute;
	left: 30%;
	bottom: 10px;
}

}